.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  background-color: rgb(32, 33, 35);
}

@media (max-width: 768px) {
  .NavBar {
    padding: 5px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .NavBar {
    padding: 3px;
    font-size: 12px;
  }
}

.NavBar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.NavBar li {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.NavBar li:hover {
  background-color: rgb(86, 88, 93);
}
.newChatButton {
  color: white;
  border: 1px solid hsla(0, 0%, 100%, 0.2);

  width: 165px;
  height: 40px;
  text-align: left;
  border-radius: 5px;
  padding-left: 10px;
  align-items: center;
  font-size: 14px;
  display: flex;
  gap: 10px;
}
.mailbox-symbol {
  content: "\2709";
  font-size: 1.5em;
  margin-right: 4px;
}
.loginButton {
  padding: 10px;
}
.profile-pic {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.line {
  display: block;
  width: 200px;
  height: 1px;
  background-color: hsla(0, 0%, 100%, 0.2);
}
.userDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dots {
  color: hsla(0, 0%, 100%, 0.2);
}
.loginAuth {
  margin: auto;
  color: white;
  background-color: green;
  border-radius: 10%;
  font-size: 40px;
  font-weight: bold;
}
.navBarBody {
  overflow-y: scroll;
  max-height: 600px;
  scrollbar-color: rgb(32, 33, 35) white;
}

.message-symbol {
  width: 18px;
  height: 18px;
}
.list-items {
  display: flex;
  gap: 10px;
  align-items: center;
}
.trashcan {
  width: 12px;
  height: 12px;
}
.sidebar {
  width: 35px;
  height: 35px;
}
.sidebaricons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.sidebarButton {
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  height: 40px;
  border-radius: 5px;
}
