.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  background-color: rgb(32, 33, 35);
}

@media (max-width: 768px) {
  .NavBar {
    padding: 5px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .NavBar {
    padding: 3px;
    font-size: 12px;
  }
}

.NavBar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.NavBar li {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.NavBar li:hover {
  background-color: rgb(86, 88, 93);
}
.newChatButton {
  color: white;
  border: 1px solid white;
  width: 150px;
  height: 50px;
  padding: 1rem;
}
.mailbox-symbol {
  content: "\2709";
  font-size: 1.5em;
  margin-right: 4px;
}
