<div class="NavBarDiv">
  <nav class="NavBar">
    <div>
      <button
        class="newChatButton"
        (click)="newChatButtonHandler()"
        *ngIf="loggedInUser"
      >
        <div style="font-size: 20px">+</div>
        New Chat
      </button>
      <div class="navBarBody">
        <ul style="color: hsla(0, 0%, 100%, 0.724); margin: 10px">
          Today
        </ul>
        <ul *ngIf="loggedInUser">
          <li
            class="list-items"
            *ngFor="let category of categories"
            (click)="navigateToCategory(category.name)"
            style="color: azure"
          >
            <img
              class="message-symbol"
              src="../assets/speechBubble.png"
              alt=""
            />

            {{ category.name }}
          </li>
        </ul>
      </div>
    </div>

    <ul>
      <span class="line" *ngIf="loggedInUser"></span>

      <li *ngIf="loggedInUser">
        <ul class="userDetails">
          <img
            class="profile-pic"
            src="{{ loggedInUser.picture }}"
            alt="Profile Picture"
          />

          <span class="username" style="color: white">{{
            loggedInUser.name
          }}</span>
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="User Menu"
            class="dots"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">Logout</button>
          </mat-menu>
        </ul>
      </li>
    </ul>
  </nav>
</div>
