<div class="NavBarDiv">
  <nav class="NavBar" *ngIf="!hideNavbar">
    <div>
      <div class="sidebaricons">
        <button
          class="newChatButton"
          (click)="newChatButtonHandler()"
          *ngIf="loggedInUser"
        >
          <div style="font-size: 20px">+</div>
          New Chat
        </button>
        <button class="sidebarButton" (click)="hideNavbarHandler()">
          <img src="../assets/sidebar.png" alt="" class="sidebar" />
        </button>
      </div>
      <div class="navBarBody">
        <ul *ngIf="loggedInUser">
          <li
            class="list-items"
            *ngFor="let category of categories"
            (click)="navigateToCategory(category.name)"
            style="color: azure"
          >
            <img
              class="message-symbol"
              src="../assets/speechBubble.png"
              alt=""
            />

            {{ category.name }}
          </li>
        </ul>
      </div>
    </div>

    <ul>
      <span class="line" *ngIf="loggedInUser"></span>

      <li *ngIf="loggedInUser">
        <ul class="userDetails">
          <img
            class="profile-pic"
            src="{{ loggedInUser.picture }}"
            alt="Profile Picture"
          />

          <span class="username" style="color: white">{{
            loggedInUser.name
          }}</span>
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="User Menu"
            class="dots"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">Logout</button>
            <button mat-menu-item (click)="(clearConversation)">
              Clear conversation
              <img class="trashcan" src="../assets/trash-can.png" />
            </button>
          </mat-menu>
        </ul>
      </li>
    </ul>
  </nav>
  <button
    class="layouthideNavbar"
    (click)="hideNavbarHandler()"
    *ngIf="hideNavbar"
  >
    <img src="../assets/sidebar.png" alt="" class="sidebarBottom" />
  </button>
</div>
